.buy__btnBl {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: #fff;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
    font-weight: 550;
}

.buy__btnBl a:hover {
    color: var(--primary-color);
}

.auth__form {
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
}

.auth__btn {
    font-weight: 600;
}

.auth__form p {
    margin-top: 30px;
}

.auth__form p a {
    color: #ffffffda;
}