.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}
.footer h1 {
    border: 3px solid #fff;
    padding: 10px 10px;
}
.footer__text {
    line-height: 30px;
    color: #fff;
}

.footer__quick-links ul li {
    background: transparent !important;
}

.footer__quick-links ul li a {
    color: #fff;
}

.quick__links-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.footer__contact li span,
.footer__contact li p {
    color: #fff;
}

.footer__contact li span {
    font-size: 1.2rem;
}

.footer__contact li p {
    font-size: 0.9rem;
}

.footer__copyright {
    color: #fff;
    margin-top: 50px;
    font-size: 0.9rem;
    text-align: center;
}